.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.searchCont {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.searchCont select {
    height: 55px;
    border-radius: 16px 0 0 16px;
    border: 0;
    border-right: 1px solid #F2F2F2;
    width: 106px;
    font-size: 14px;
}

.searchCont select option {
    display: none;
}

.searchCont input {
    height: 55px;
    border: 0;
    width: 106px;
    padding-left: 5px;
}

.searchCont button {
    height: 55px;
    border: none;
    border-left: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 0 16px 16px 0;
    width: 53px;
}

.searchCont button img {
    height: 17px;
    width: 17px;
}